In [1]:
# process task 1 -> task 4 with only numpy and pandas
import pandas as pd
import numpy as np
import re
import csv

filename = "class2"

with open("data/" + filename + ".txt", 'r') as f:
    len_csv = sum(1 for line in f)

df = pd.read_fwf("data/" + filename + ".txt", header=None)
df = df[0].str.split(',', n=25, expand=True)
df

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,N00000021,B,A,C,D,C,C,D,D,C,...,C,B,,A,D,A,A,B,D,
1,N00000022,B,A,D,A,C,B,D,D,C,...,,B,A,A,C,A,A,B,A,D
2,N00000023,,A,D,D,C,B,D,A,C,...,C,B,D,A,C,A,A,None,None,None
3,N00000024,C,C,D,D,C,B,,A,C,...,C,B,D,A,C,A,B,B,,D
4,N0000002,B,A,D,D,C,B,D,A,C,...,C,D,,A,C,A,A,B,D,D
5,N00000026,B,C,D,D,C,D,B,A,C,...,C,B,D,,C,A,A,B,D,D
6,NA0000027,B,A,D,D,,B,,A,C,...,C,B,D,A,,A,A,B,D,D
7,N00000028,B,A,D,D,D,B,D,A,C,...,,B,D,C,C,A,A,B,C,D
8,N00000029,B,A,D,D,C,A,D,A,C,...,C,B,,,C,A,A,B,D,D
9,N00000030,A,A,D,D,C,B,D,,C,...,C,B,B,A,C,A,,B,D,D
10,N00000031,B,,D,D,C,B,D,A,A,...,C,B,C,A,C,C,A,B,D,D
11,N00000032,B,A,D,D,C,B,D,A,C,...,C,B,D,A,C,,A,B,D,D
12,N00000033,B,A,D,D,C,,D,A,C,...,C,C,D,A,C,A,,B,D,D
13,N00000034,B,,D,,C,B,A,A,C,...,C,B,A,B,C,A,,B,D,D
14,N00000035,B,A,D,D,B,B,,A,C,...,A,B,D,A,C,A,C,B,D,"D,A,A"
15,N00000036,B,A,D,D,C,B,D,A,C,...,C,B,D,A,C,A,A,B,,
16,N00000037,B,A,D,D,C,,D,A,C,...,A,B,D,A,C,,,,D,D
17,N00000038,,A,D,,C,B,D,A,A,...,C,B,D,,C,A,D,B,D,C
18,N00000039,B,A,D,D,C,A,B,A,C,...,,C,D,A,B,A,A,B,A,D
19,N00000040,B,A,,D,C,B,D,D,C,...,C,A,,A,C,A,,B,D,D
20,N00000041,,A,D,D,C,B,D,A,C,...,C,B,D,A,C,B,A,B,D,D
21,N00000042,B,A,D,D,C,B,D,A,C,...,C,B,D,A,C,A,A,B,D,D
22,N00000043,C,A,D,D,C,B,D,A,C,...,C,B,D,A,C,A,,B,D,D
23,N00000044,B,A,D,D,C,B,D,A,C,...,A,B,D,A,C,D,A,B,D,D
24,N00000045,C,A,A,D,C,B,D,C,,...,B,B,A,,C,A,A,B,D,D

In [2]:
# Task 1: filter invalid lines of file
invalid_length_df = df[(df.isna().any(axis=1)) | (df[25].str.split(",").str.len() > 1)]
for index, row in invalid_length_df.iterrows():
    print("Invalid line of data: does not contain exactly 26 values:")
    print(row.to_frame().T.to_string(header=False))

invalid_id_df = df[~df[0].str.contains(r"^N[0-9]{8}", regex=True, na=False)]
for index, row in invalid_id_df.iterrows():
    print("Invalid line of data: N# is invalid")
    print(row.to_frame().T.to_string(header=False))

Invalid line of data: does not contain exactly 26 values:
2  N00000023    A  D  D  C  B  D  A  C  C    C    B  A  C  B  D  A  C  A  A  None  None  None
Invalid line of data: does not contain exactly 26 values:
14  N00000035  B  A  D  D  B  B    A  C    D  B  A  B  A  A  B  D  A  C  A  C  B  D  D,A,A
Invalid line of data: N# is invalid
4  N0000002  B  A  D  D  C  B  D  A  C  D  D  D  A    A  C  D    A  C  A  A  B  D  D
Invalid line of data: N# is invalid
6  NA0000027  B  A  D  D    B    A  C  B  D  B  A    A  C  B  D  A    A  A  B  D  D

In [3]:
valid_df = df[~(df.isin(invalid_length_df[0])) & ~(df.isin(invalid_id_df[0]))].dropna()
valid_df

           0  1  2  3  4  5  6  7  8  9   ... 16 17 18 19 20 21 22 23 24 25
0   N00000021  B  A  C  D  C  C  D  D  C  ...  C  B     A  D  A  A  B  D
1   N00000022  B  A  D  A  C  B  D  D  C  ...     B  A  A  C  A  A  B  A  D
3   N00000024  C  C  D  D  C  B     A  C  ...  C  B  D  A  C  A  B  B     D
5   N00000026  B  C  D  D  C  D  B  A  C  ...  C  B  D     C  A  A  B  D  D
7   N00000028  B  A  D  D  D  B  D  A  C  ...     B  D  C  C  A  A  B  C  D
8   N00000029  B  A  D  D  C  A  D  A  C  ...  C  B        C  A  A  B  D  D
9   N00000030  A  A  D  D  C  B  D     C  ...  C  B  B  A  C  A     B  D  D
10  N00000031  B     D  D  C  B  D  A  A  ...  C  B  C  A  C  C  A  B  D  D
11  N00000032  B  A  D  D  C  B  D  A  C  ...  C  B  D  A  C     A  B  D  D
12  N00000033  B  A  D  D  C     D  A  C  ...  C  C  D  A  C  A     B  D  D
13  N00000034  B     D     C  B  A  A  C  ...  C  B  A  B  C  A     B  D  D
15  N00000036  B  A  D  D  C  B  D  A  C  ...  C  B  D  A  C  A  A  B
16  N00000037  B  A  D  D  C     D  A  C  ...  A  B  D  A  C           D  D
17  N00000038     A  D     C  B  D  A  A  ...  C  B  D     C  A  D  B  D  C
18  N00000039  B  A  D  D  C  A  B  A  C  ...     C  D  A  B  A  A  B  A  D
19  N00000040  B  A     D  C  B  D  D  C  ...  C  A     A  C  A     B  D  D
20  N00000041     A  D  D  C  B  D  A  C  ...  C  B  D  A  C  B  A  B  D  D
21  N00000042  B  A  D  D  C  B  D  A  C  ...  C  B  D  A  C  A  A  B  D  D
22  N00000043  C  A  D  D  C  B  D  A  C  ...  C  B  D  A  C  A     B  D  D
23  N00000044  B  A  D  D  C  B  D  A  C  ...  A  B  D  A  C  D  A  B  D  D
24  N00000045  C  A  A  D  C  B  D  C     ...  B  B  A     C  A  A  B  D  D

[21 rows x 26 columns]

In [4]:
# Task 2 score exams
answer_key = "B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D"
list_answer_key = answer_key.split(",")
for idx, answer in enumerate(list_answer_key):
    i = idx + 26
    valid_df[i] = np.where(valid_df[idx+1] == answer, 4, np.where(valid_df[idx+1] == "", 0, -1));      
valid_df["total_score"] = valid_df.iloc[:, 26:51].sum(axis=1)
valid_df

,0,1,2,3,4,5,6,7,8,9,...,42,43,44,45,46,47,48,49,50,total_score
0,N00000021,B,A,C,D,C,C,D,D,C,...,4,0,4,-1,4,4,4,4,0,68
1,N00000022,B,A,D,A,C,B,D,D,C,...,4,-1,4,4,4,4,4,-1,4,76
3,N00000024,C,C,D,D,C,B,,A,C,...,4,4,4,4,4,-1,4,0,4,73
5,N00000026,B,C,D,D,C,D,B,A,C,...,4,4,0,4,4,4,4,4,4,72
7,N00000028,B,A,D,D,D,B,D,A,C,...,4,4,-1,4,4,4,4,-1,4,73
8,N00000029,B,A,D,D,C,A,D,A,C,...,4,0,0,4,4,4,4,4,4,87
9,N00000030,A,A,D,D,C,B,D,,C,...,4,-1,4,4,4,0,4,4,4,82
10,N00000031,B,,D,D,C,B,D,A,A,...,4,-1,4,4,-1,4,4,4,4,76
11,N00000032,B,A,D,D,C,B,D,A,C,...,4,4,4,4,0,4,4,4,4,87
12,N00000033,B,A,D,D,C,,D,A,C,...,-1,4,4,4,4,0,4,4,4,77
13,N00000034,B,,D,,C,B,A,A,C,...,4,-1,-1,4,4,0,4,4,4,69
15,N00000036,B,A,D,D,C,B,D,A,C,...,4,4,4,4,4,4,4,0,0,77
16,N00000037,B,A,D,D,C,,D,A,C,...,4,4,4,4,0,0,0,4,4,75
17,N00000038,,A,D,,C,B,D,A,A,...,4,4,0,4,4,-1,4,4,-1,73
18,N00000039,B,A,D,D,C,A,B,A,C,...,-1,4,4,-1,4,4,4,-1,4,66
19,N00000040,B,A,,D,C,B,D,D,C,...,-1,0,4,4,4,0,4,4,4,73
20,N00000041,,A,D,D,C,B,D,A,C,...,4,4,4,4,-1,4,4,4,4,91
21,N00000042,B,A,D,D,C,B,D,A,C,...,4,4,4,4,4,4,4,4,4,100
22,N00000043,C,A,D,D,C,B,D,A,C,...,4,4,4,4,4,0,4,4,4,86
23,N00000044,B,A,D,D,C,B,D,A,C,...,4,4,4,4,-1,4,4,4,4,90
24,N00000045,C,A,A,D,C,B,D,C,,...,4,-1,0,4,4,4,4,4,4,67

In [5]:
# Task 3: report
total_students = valid_df.shape[0]

print("Total valid lines of data: " + str(len_csv - len(invalid_length_df) - len(invalid_id_df)))
print("Total invalid lines of data: " + str(len(invalid_length_df) + len(invalid_id_df)))
print("Total student of high scores: " + str(valid_df[valid_df["total_score"] > 80].shape[0]))
print("Mean (average) score: " + str(valid_df["total_score"].mean()))
print("Highest score: " + str(valid_df["total_score"].max()))
print("Lowest score: " + str(valid_df["total_score"].min()))
print("Range of scores: " + str(valid_df["total_score"].max() - valid_df["total_score"].min()))
print("Median score: " + str(valid_df["total_score"].median()))

lists = np.array(np.where(valid_df.iloc[:, 26:51] == 0, 1, 0)).sum(axis=0)
most_skip = np.argwhere(lists == np.amax(lists)).flatten().tolist()
print("Question that most people skip: " + str(["%d - %d - %.2f" % (q+1, lists[q], round(lists[q]/total_students, 2)) for q in most_skip]))

lists = np.array(np.where(valid_df.iloc[:, 26:51] == -1, 1, 0)).sum(axis=0)
most_incorrect = np.argwhere(lists == np.amax(lists)).flatten().tolist()
print("Question that most people answer incorrectly: " + str(["%d - %d - %.2f" % (q+1, lists[q], round(lists[q]/total_students, 2)) for q in most_incorrect]))

Total valid lines of data: 21
Total invalid lines of data: 4
Total student of high scores: 7
Mean (average) score: 78.0
Highest score: 100
Lowest score: 66
Range of scores: 34
Median score: 76.0
Question that most people skip: ['22 - 6 - 0.29']
Question that most people answer incorrectly: ['18 - 5 - 0.24']

In [6]:
# Task 4: save file
valid_df.iloc[:, [0,-1]].to_csv("output/" + filename + "_grades.txt", header=None, index=False, sep=',', encoding='utf-8')